version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    volumes:
      - .:/app
      - ./node_modules:/app/node_modules #node_modulesをホストマシンとコンテナで共有
    environment:
      - HOST=0.0.0.0
    command: npm run dev
